.git
.github
.gitmodules
.tox
.dockerignore
.sonarcloud.properties
.pyup.yml
.python-version
.venv
tox.ini
mobinspect/db.sqlite3
Dockerfile
dist
build
.DS_Store
*.egg-info
docker-compose.yml
*.md
venv
setup.bat
run.bat
setup.sh
run.sh
mobinspect/downloads
mobinspect/uploads
mobinspect/debug.log
mobinspect/secret
mobinspect/StaticAnalyzer/test_files/
TODO.md